@model RrCms.Models.News

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete news!</h2>

<h3>Are you sure you want to delete this news?</h3>
<fieldset>
    <legend>News</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">TextMain</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextMain)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
