@model RrCms.Models.Article
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Html.DisplayFor(model => model.Title)</h1>
<div>
    @{
        Output.Write(Model.Text);
    }
</div>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId })
}
