<!DOCTYPE html>

<html>
    <head>
        <link href="@Url.Content("~/Content/AdminArea.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jquery.cleditor.css")" rel="stylesheet" type="text/css" />
        <title>@ViewBag.Title</title>
    </head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
