<header class="header clearfix">
          @*  <nav class="menu_main">
                <ul>
                    <li class="active">@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Skins", "Index", "Home")</li>
                    <li>@Html.ActionLink("Samples", "Index", "Home")</li>
                </ul>
            </nav> *@
        </header>
