        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="keywords" content="@ViewBag.Keywords" />
        <meta name="description" content="@ViewBag.Description" />
        @*<link rel="icon" href="/favicon.ico" type="image/x-icon">*@
        @*<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">*@
        @*<link rel="icon" type="image/gif" href="../../favicon.gif">*@