<div class="col_33">
    <div id="leftside">
        <div id="logotype">
            <div class="logo">
                <a href="/">
                    <img src="@Url.Content("~/Content/images/logo.jpg")" alt="" width="200px" height="291px" /></a></div>
        </div>
        <div id="leftnav">
            <div id="navigation">
                <h2>
                    Навигация:</h2>
                <ul class="nav">
                    @Html.Action("Index", "Menu")

                    
                </ul>
            </div>
        </div>
    </div>
</div>
