@{
    ViewBag.Title = "About Us";
}
<h1>
    Простое решение для несложных задач</h1>
<p>
    Для того, чтобы создать сайт, не обязательно иметь дело со сложными движками и их
    административными панелями. «Simpliste» — это очень простой в использовании HTML-шаблон
    для проектов, в которых требуется создать одну или пару страниц с несложной структурой.
    Если вы хотите создать простую информационную страницу, причем чем меньше кода нужно
    писать, а килобайтов загружать, тем лучше, то «Simpliste» как раз то, что вам нужно.</p>
<p>
    Не требует CMS и бесплатен для использования. Аккуратный код еще больше упрощает
    задачу. HTML5 и CSS3 открывают больше возможностей перед вашим будущим сайтом. У
    шаблона есть несколько тем, из которых можно выбрать. В темах не использовано ни
    одного файла изображения.</p>
<p>
    Хотите, чтобы ваш сайт был удобным при чтении с мобильных устройств? «Simpliste»
    меняется в зависимости от ширины окна браузера, создавая оптимальные условия для
    чтение со смартфонов или планшетов.</p>
