@model List<RrCms.Models.Article>
@{
    ViewBag.Title = "RR-CMS - Articles";
}

@foreach (var article in Model)
{
        <h1>@Html.DisplayFor(a => article.Title)</h1>
        <div>
        @{
            Output.Write(article.Text);
        }
        </div>
        if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Edit", "Edit", "Article", new { id = article.ArticleId }, null)
        }
        <hr/>
}