@using RrCms.Models;
@model News

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<fieldset>
    <legend>News</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

</fieldset>
<p>
@if (User.IsInRole("Editor"))
{
    @Html.ActionLink("Edit", "Edit", "News", new { id = Model.NewsId }, null)
}
    @Html.ActionLink("Back to List", "News")
</p>
